.container{
	background-color:pink;
	border: 10px solid lightgreen;
	gap:40px;
}
.row{
	padding:6px;
	
}
.col-2{
background-color:brown;
}

.text{
	border-style: dashed;
	height:100px;	
}
.item1{
	background-color:blueviolet;
}
.item2{
	background-color:lightcoral;
}
.item3{
	background-color:tomato;
}
.item4{
	background-color:skyblue;
}
.item5{
	background-color:violet;
}
.item6{
	background-color:olive;
}
/* Your CSS Code here. */